FORMAT: 1A
HOST: http://api.closets.local.closets.ardani.rb.skyshi.com/closets/rest/v2

# Closets API
Documentation of API Closets 2.0.

# Group User Auth
Api for get authentication for user closets
default username : admin password: R1b0nz, Cookie is "session_name = sessid ", you can get from result of user login 
## POST : Token Auth  [/user/token.json]
### Get Token Auth [POST]

+ Response 200 (application/json)

        {
            "token": "6mIYkXFpFMBdzn2VmeoBUDo0h0Dit3NEwL2mG5K8v0Y"
        }

## POST : User Login  [/user/login.json]
### Post User Login [POST]

+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
    
    + Body

            {
                "username" : "admin",
                "password" :"R1b0nz"
            }

+ Response 200 (application/json)

        {
          "sessid": "lb6vzNc7i0gIW4Z51hIXSbELNgp9t6S0j_6VfFEQznI",
          "session_name": "SESSc702652cdef3c297c544a85b5b5e5c83",
          "token": "Ax1YoRimgEYH9bo3LK1frw8fR0TpRnctfAmeqKOlK7k",
          "user": {
            "uid": "1",
            "name": "admin",
            "mail": "rizqinofa.muliawan@reebonz.com",
            "theme": "",
            "signature": "",
            "signature_format": null,
            "created": "1447405847",
            "access": "1450859920",
            "login": 1450860079,
            "status": "1",
            "timezone": "Asia/Singapore",
            "language": "",
            "picture": null,
            "init": "rizqinofa.muliawan@reebonz.com",
            "data": false,
            "roles": {
              "2": "authenticated user",
              "3": "administrator"
            }
          }
        }

## POST : User Logout  [/user/logout.json]
### Post User Logout [POST]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

+ Response 200 (application/json)

        [
            true
        ]

# Group Preset
Api Design for Preset Data
## GET : Country [/preset/country.json{?country_code}]
### List Country [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
+ Parameters

    + country_code : SG (string) - optional
    
+ Response 200 (application/json)

        {
            "data" : 
            [
                {
                    "code" : "SG",
                    "name" : "Singapore",
                    "currency_code" : "SGD",
                    "contact_email" : "closets@reebonz.com",
                    "contact_no" : 123456,
                    "url" : "http://www.reebonz.com.sg",
                    "default_language_code" : "EN"
                },
                {
                    "code" : "MY",
                    "name" : "Malaysia",
                    "currency_code" : "MYR",
                    "contact_email" : "conciergemy@reebonz.com",
                    "contact_no" : 123456,
                    "url" : "http://www.reebonz.com.my",
                    "default_language_code" : "EN"
                },
                {
                    "code" : "HK",
                    "name" : "Hongkong",
                    "currency_code" : "HKD",
                    "contact_email" : "conciergehk@reebonz.com",
                    "contact_no" : 123456,
                    "url" : "http://www.reebonz.com.hk",
                    "default_language_code" : "zh-hk"
                }
            ]
        }

## GET : Category [/preset/category.json{?country_code}{?language_code}{?category_id}]
show active category
### List Category [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + country_code : SG (string)
    + language_code : EN (string)
    + category_id : 1 (number) - optional
    
+ Response 200 (application/json)

        {
            "data" :
            [
                {
                    "id" : 1,
                    "category_name" : "APPAREL",
                    "localization" : "APPAREL"
                },
                {
                    "id" : 2,
                    "category_name" : "ACCESSORIES",
                    "localization" : "ACCESSORIES"
                },
                {
                    "id" : 3,
                    "category_name" : "JEWELLERY",
                    "localization" : "JEWELLERY"
                }
            ]
        }

## GET : Brand [/preset/brand.json{?country_code}{?category_id}{?brand_id}]
show active brand 
### List Brand [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + country_code : SG (string)
    + category_id : 1 (number)
    + brand_id : 1 (number) - optional
    
+ Response 200 (application/json)

        {
            "data" : 
            [
                {
                    "id" : 1,
                    "brand_name" : "3.1 PHILLIP LIM",
                    "currency_code" : "SGD",
                    "min_price" : 200
                },
                {
                    "id" : 2,
                    "brand_name" : "A.LANGE & SÖHNE",
                    "currency_code" : "SGD",
                    "min_price" : 200
                },
                {
                    "id" : 3,
                    "brand_name" : "AGNÈS B",
                    "currency_code" : "SGD",
                    "min_price" : 200
                }
            ]
        }

## GET : Commission [/preset/commission.json{?country_code}{?category_id}{?price}]
### List Commission [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + country_code : SG (string)
    + category_id : 1 (number)
    + price: 1000 (number)
    
+ Response 200 (application/json)

        {
            "data" :
            {
                "category_name" : "ACCESSORIS",
                "commission" : "0.1"
            }
        }

# Group Feed
Api Design For Follower Following Feed Discover Recommendation
## GET : Followers And Followees [/following/follow.json{?limit}{?uid}{?page}{?type}]

### List Follow [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

+ Parameters

    + limit : 10  (number)
    + uid : 1 (number)
    + page : 1 (number)
    + type : followees (string) - followees or followers
    
+ Response 200 (application/json)

        {
            "type" : "followees",
            "data" :
            [
              {
                "seller": {
                  "uid": "3500810",
                  "nickname": "test-generate-3500810",
                  "avatar": "profile_3500884_1443707839.jpg",
                  "item_count": 1,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500852",
                  "nickname": "widy",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 2,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500829",
                  "nickname": "argo_3500829",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 7,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500815",
                  "nickname": "test-generate-3500815",
                  "avatar": "profile_3500913_1443781576.jpg",
                  "item_count": 14,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  },
                  {
                    "id": "4975",
                    "image": "mobile-3500815-23.09.15-16-23-05-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:23:07Z",
                    "updated_at": "2015-10-03T03:19:01Z"
                  },
                  {
                    "id": "4974",
                    "image": "mobile-3500815-23.09.15-16-21-18-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:21:19Z",
                    "updated_at": "2015-10-03T03:14:58Z"
                  },
                  {
                    "id": "4973",
                    "image": "mobile-3500815-23.09.15-16-20-19-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:20:22Z",
                    "updated_at": "2015-10-03T03:19:32Z"
                  },
                  {
                    "id": "4972",
                    "image": "mobile-3500815-23.09.15-16-19-07-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:19:09Z",
                    "updated_at": "2015-10-03T22:12:39Z"
                  },
                  {
                    "id": "4970",
                    "image": "mobile-3500815-23.09.15-16-18-10-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:18:12Z",
                    "updated_at": "2015-10-03T23:11:33Z"
                  },
                  {
                    "id": "4969",
                    "image": "mobile-3500815-23.09.15-16-17-03-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:17:06Z",
                    "updated_at": "2015-10-03T03:19:36Z"
                  },
                  {
                    "id": "4968",
                    "image": "mobile-3500815-23.09.15-16-15-56-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:16:00Z",
                    "updated_at": "2015-10-03T03:42:22Z"
                  }
                ]
              }
            ],
            "page" : 1,
            "next_page": 1,
            "total" : 100
        }
        
## GET : Followers [/following/followers.json{?limit}{?uid}{?page}{?type}]

### List Followers [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

+ Parameters

    + limit : 10  (number)
    + uid : 1 (number)
    + page : 1 (number)
    + type : followees (string) - followees or followers
    
+ Response 200 (application/json)

        {
            "type" : "followers",
            "data" :
            [
              {
                "seller": {
                  "uid": "3500810",
                  "nickname": "test-generate-3500810",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 1,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500852",
                  "nickname": "widy",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 2,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500829",
                  "nickname": "argo_3500829",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 7,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500815",
                  "nickname": "test-generate-3500815",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 14,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  },
                  {
                    "id": "4975",
                    "image": "mobile-3500815-23.09.15-16-23-05-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:23:07Z",
                    "updated_at": "2015-10-03T03:19:01Z"
                  },
                  {
                    "id": "4974",
                    "image": "mobile-3500815-23.09.15-16-21-18-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:21:19Z",
                    "updated_at": "2015-10-03T03:14:58Z"
                  },
                  {
                    "id": "4973",
                    "image": "mobile-3500815-23.09.15-16-20-19-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:20:22Z",
                    "updated_at": "2015-10-03T03:19:32Z"
                  },
                  {
                    "id": "4972",
                    "image": "mobile-3500815-23.09.15-16-19-07-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:19:09Z",
                    "updated_at": "2015-10-03T22:12:39Z"
                  },
                  {
                    "id": "4970",
                    "image": "mobile-3500815-23.09.15-16-18-10-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:18:12Z",
                    "updated_at": "2015-10-03T23:11:33Z"
                  },
                  {
                    "id": "4969",
                    "image": "mobile-3500815-23.09.15-16-17-03-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:17:06Z",
                    "updated_at": "2015-10-03T03:19:36Z"
                  },
                  {
                    "id": "4968",
                    "image": "mobile-3500815-23.09.15-16-15-56-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:16:00Z",
                    "updated_at": "2015-10-03T03:42:22Z"
                  }
                ]
              }
            ],
            "page" : 1,
            "next_page": 1,
            "total" : 100
        }
        
## GET : Followers And Followees with visit uid [/following/follow.json{?limit}{?uid}{?page}{?type}{?visit_uid}]

### List Follow [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

+ Parameters

    + limit : 10  (number)
    + uid : 1 (number)
    + page : 1 (number)
    + type : followees (string) - followees or followers
    + visit_uid : 2 (number)
    
+ Response 200 (application/json)

        {
            "type" : "followees",
            "data" :
            [
              {
                "seller": {
                  "uid": "3500810",
                  "nickname": "test-generate-3500810",
                  "avatar": "profile_3500884_1443707839.jpg",
                  "item_count": 1,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500852",
                  "nickname": "widy",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 2,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500829",
                  "nickname": "argo_3500829",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 7,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500815",
                  "nickname": "test-generate-3500815",
                  "avatar": "profile_3500913_1443781576.jpg",
                  "item_count": 14,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  },
                  {
                    "id": "4975",
                    "image": "mobile-3500815-23.09.15-16-23-05-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:23:07Z",
                    "updated_at": "2015-10-03T03:19:01Z"
                  },
                  {
                    "id": "4974",
                    "image": "mobile-3500815-23.09.15-16-21-18-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:21:19Z",
                    "updated_at": "2015-10-03T03:14:58Z"
                  },
                  {
                    "id": "4973",
                    "image": "mobile-3500815-23.09.15-16-20-19-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:20:22Z",
                    "updated_at": "2015-10-03T03:19:32Z"
                  },
                  {
                    "id": "4972",
                    "image": "mobile-3500815-23.09.15-16-19-07-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:19:09Z",
                    "updated_at": "2015-10-03T22:12:39Z"
                  },
                  {
                    "id": "4970",
                    "image": "mobile-3500815-23.09.15-16-18-10-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:18:12Z",
                    "updated_at": "2015-10-03T23:11:33Z"
                  },
                  {
                    "id": "4969",
                    "image": "mobile-3500815-23.09.15-16-17-03-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:17:06Z",
                    "updated_at": "2015-10-03T03:19:36Z"
                  },
                  {
                    "id": "4968",
                    "image": "mobile-3500815-23.09.15-16-15-56-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:16:00Z",
                    "updated_at": "2015-10-03T03:42:22Z"
                  }
                ]
              }
            ],
            "page" : 1,
            "next_page": 1,
            "total" : 100
        }
        
## GET : Followers with visit uid [/following/followers.json{?limit}{?uid}{?page}{?type}{?visit_uid}]

### List Followers [GET]
+ Request

    + Headers

            Content-Type: application/json
            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

+ Parameters

    + limit : 10  (number)
    + uid : 1 (number)
    + page : 1 (number)
    + type : followees (string) - followees or followers
    + visit_uid : 2 (number)
    
+ Response 200 (application/json)

        {
            "type" : "followers",
            "data" :
            [
              {
                "seller": {
                  "uid": "3500810",
                  "nickname": "test-generate-3500810",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 1,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500852",
                  "nickname": "widy",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 2,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500829",
                  "nickname": "argo_3500829",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 7,
                  "followed": 0
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  }
                ]
              },
              {
                "seller": {
                  "uid": "3500815",
                  "nickname": "test-generate-3500815",
                  "avatar": "profile_3500915_1443795299.jpg",
                  "item_count": 14,
                  "followed": 1
                },
                "product": [
                  {
                    "id": "4991",
                    "image": "mobile-3500810-25.09.15-09-01-20-0-960x720.jpg",
                    "status": "new_order",
                    "created_at": "2015-09-25T10:01:22Z",
                    "updated_at": "2015-09-25T10:01:22Z"
                  },
                  {
                    "id": "5028",
                    "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:54:38Z",
                    "updated_at": "2015-10-05T19:28:13Z"
                  },
                  {
                    "id": "5063",
                    "image": "mobile-3500829-01.10.15-09-38-21-0-540x960.jpg",
                    "status": "accept",
                    "created_at": "2015-10-01T10:38:27Z",
                    "updated_at": "2015-10-05T02:06:34Z"
                  },
                  {
                    "id": "5062",
                    "image": "mobile-3500829-01.10.15-09-08-58-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-10-01T10:09:01Z",
                    "updated_at": "2015-10-02T17:15:26Z"
                  },
                  {
                    "id": "5059",
                    "image": "mobile-3500829-30.09.15-10-31-01-0-720x1280.jpg",
                    "status": "open",
                    "created_at": "2015-09-30T11:31:13Z",
                    "updated_at": "2015-11-17T16:27:01Z"
                  },
                  {
                    "id": "5058",
                    "image": "mobile-3500829-30.09.15-10-03-49-0-720x1280.jpg",
                    "status": "sold",
                    "created_at": "2015-09-30T11:03:52Z",
                    "updated_at": "2015-10-02T23:20:32Z"
                  },
                  {
                    "id": "5029",
                    "image": "mobile-3500829-29.09.15-11-55-41-0-540x540.jpg",
                    "status": "sold",
                    "created_at": "2015-09-29T12:55:45Z",
                    "updated_at": "2015-10-02T23:33:57Z"
                  },
                  {
                    "id": "4975",
                    "image": "mobile-3500815-23.09.15-16-23-05-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:23:07Z",
                    "updated_at": "2015-10-03T03:19:01Z"
                  },
                  {
                    "id": "4974",
                    "image": "mobile-3500815-23.09.15-16-21-18-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:21:19Z",
                    "updated_at": "2015-10-03T03:14:58Z"
                  },
                  {
                    "id": "4973",
                    "image": "mobile-3500815-23.09.15-16-20-19-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:20:22Z",
                    "updated_at": "2015-10-03T03:19:32Z"
                  },
                  {
                    "id": "4972",
                    "image": "mobile-3500815-23.09.15-16-19-07-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:19:09Z",
                    "updated_at": "2015-10-03T22:12:39Z"
                  },
                  {
                    "id": "4970",
                    "image": "mobile-3500815-23.09.15-16-18-10-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:18:12Z",
                    "updated_at": "2015-10-03T23:11:33Z"
                  },
                  {
                    "id": "4969",
                    "image": "mobile-3500815-23.09.15-16-17-03-0-540x960.jpg",
                    "status": "sold",
                    "created_at": "2015-09-23T17:17:06Z",
                    "updated_at": "2015-10-03T03:19:36Z"
                  },
                  {
                    "id": "4968",
                    "image": "mobile-3500815-23.09.15-16-15-56-0-960x540.jpg",
                    "status": "accept",
                    "created_at": "2015-09-23T17:16:00Z",
                    "updated_at": "2015-10-03T03:42:22Z"
                  }
                ]
              }
            ],
            "page" : 1,
            "next_page": 1,
            "total" : 100
        }

## POST : Follow Unfollow Action [/following/follow.json]
### Follow Unfollow Action [POST]

+ Request (application/json)
    + Headers

            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8

    + Body
    
            {
                "followee_uid":3500852,
                "uid": 3953433,
                "action" : "follow/unfollow"
            }

+ Response 200 (application/json)

        {
            "status" : true,
            "message" : "following successful / unfollow successful",
            "seller": {
                "uid": "3500852",
                "nickname": "widy",
                "avatar": "",
                "item_count": 1,
                "followed": 1
              },
              "product": [
                {
                  "id": "5028",
                  "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                  "status": "sold",
                  "created_at": "2015-09-29T12:54:38Z",
                  "updated_at": "2015-10-05T19:28:13Z"
                },
                {
                  "id": "5028",
                  "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                  "status": "sold",
                  "created_at": "2015-09-29T12:54:38Z",
                  "updated_at": "2015-10-05T19:28:13Z"
                },
                {
                  "id": "5028",
                  "image": "mobile-3500852-29.09.15-11-54-36-0-960x1280.jpg",
                  "status": "sold",
                  "created_at": "2015-09-29T12:54:38Z",
                  "updated_at": "2015-10-05T19:28:13Z"
                }
              ]
        }


## GET : Discover [/following/discover.json{?limit}{?uid}{?page}{?country_code}{?refresh}]

### List Discover [GET]
+ Request (application/json)
    + Headers

            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + limit : 20 (number)
    + uid : 1 (number)
    + page : 1 (number)
    + country_code : SG (string)
    + refresh : 23123 (number) - timestamp when the page is first loaded
    
+ Response 200 (application/json)

        {
          "status_refresh": "new not exist",
          "data": [
            {
              "product": {
                "id": "5063",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5075",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1448964087",
                "updated_at": "1448964087"
              }
            },
            {
              "product": {
                "id": "5187",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5188",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1448964087",
                "updated_at": "1448964087"
              }
            },
            {
              "product": {
                "id": "5189",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5303",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1448964087",
                "updated_at": "1448964087"
              }
            },
            {
              "product": {
                "id": "5321",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5420",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1448964087",
                "updated_at": "1448964087"
              }
            },
            {
              "product": {
                "id": "5435",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1448964087",
                "updated_at": "1448964087"
              }
            },
            {
              "product": {
                "id": "5478",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5482",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            },
            {
              "product": {
                "id": "5483",
                "image": "mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg",
                "status": "open",
                "created_at": "1449021713",
                "updated_at": "1449021713"
              }
            }
          ],
          "page": "1",
          "next_page": 1,
          "refresh": "39534331449553766"
        }

## GET : Recommended [/following/recommended.json{?limit}{?uid}{?page}{?country_code}{?language_code}{?refresh}]
### List Recommended [GET]
+ Request (application/json)
    + Headers

            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + limit : 20 (number)
    + uid : 1 (number)
    + page : 1 (number)
    + country_code : SG (string)
    + language_code : EN (string)
    + refresh : 1232 (number) - timestamp when the page is first loaded 
    
+ Response 200 (application/json)

        {
              "status_refresh": "new not exist",
              "data": [
                {
                  "type": "followee",
                  "type_label": "Because you follow Seller_3501217,606115user_test and 3 more",
                  "followee_uid": [
                        "606115",
                        "3501220",
                        "3501218",
                        "3501217",
                        "606115"
                      ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "3953433_usertes",
                    "avatar": "profile_4434541_1433823320.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5075",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5303",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "followee",
                  "type_label": "Because you follow Seller_3322374",
                  "followee_uid": [
                        "3322374"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "tes_random",
                    "avatar": "profile_3500811_1443496941.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5321",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5420",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5478",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5482",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5483",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5484",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5661",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5857",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5866",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5885",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "spotlight",
                  "type_label": "Recommended by Reebonz Atelier",
                  "followee_uid": [
                        "-1"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "nickname_3953433",
                    "avatar": "profile_1092884_1448602368.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5886",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5933",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5981",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5933",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5981",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5993",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5161",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5590",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5984",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "6072",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "6008",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "6001",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5243",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5898",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5059",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "followee",
                  "type_label": "Because you follow seller_3317791",
                  "followee_uid": [
                        "3317791"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "tes_random_avatar",
                    "avatar": "profile_1092884_1448602368.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5321",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "followee",
                  "type_label": "Because you follow seller_3316590",
                  "followee_uid": [
                        "3316590"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "random_avatar_2",
                    "avatar": "profile_3500811_1443496941.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5321",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5075",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5303",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5321",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "followee",
                  "type_label": "Because you follow seller_3322855",
                  "followee_uid": [
                        "3322855"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "random_3",
                    "avatar": "profile_3500811_1443496941.jpg",
                    "item_count": 5
                  },
                  "product": [
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "39534333314463291",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "39534333315093294",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    }
                  ]
                },
                {
                  "type": "spotlight",
                  "type_label": "Recommended by Reebonz Atelier",
                  "followee_uid": [
                        "-1"
                    ],
                  "seller": {
                    "uid": "3953433",
                    "nickname": "spotlight_seller",
                    "avatar": "profile_3500811_1443496941.jpg",
                    "item_count": 8
                  },
                  "product": [
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109348",
                      "updated_at": "1449109348"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1411364245",
                      "updated_at": "1411364245"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109155",
                      "updated_at": "1449109155"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109240",
                      "updated_at": "1449109240"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109278",
                      "updated_at": "1449109278"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109240",
                      "updated_at": "1449109240"
                    },
                    {
                      "id": "5189",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109299",
                      "updated_at": "1449109299"
                    },
                    {
                      "id": "5188",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109299",
                      "updated_at": "1449109299"
                    },
                    {
                      "id": "5187",
                      "image": "[\"mobile-3093791-05.01.15-04-27-26-0-960x1280.jpg\",\"mobile-3093791-05.01.15-04-27-42-1-960x1280.jpg\"]",
                      "created_at": "1449109278",
                      "updated_at": "1449109278"
                    }
                  ]
                }
              ],
              "page": "1",
              "next_page": 1,
              "refresh": "39534331449553394"
            }

## GET : Following [/following/feed.json{?limit}{?uid}{?page}{?country_code}]
### List Following Feed [GET]
+ Request (application/json)
    + Headers

            Accept: application/json, text/plain, */*
            X-CSRF-Token: 1RUPyaCmQC7VAYlJOX-rliSZvxhx1BfpYj_5iY9DvJk
            Cookie:SESSc702652cdef3c297c544a85b5b5e5c83=jFyaN8DGKyrnEezk2VF7kLRxs9bYQ90U2_MK1t-kOA8
            
+ Parameters

    + limit : 20 (number)
    + uid : 1 (number)
    + page : 1 (number)
    + country_code : SG (string)
    
+ Response 200 (application/json)

        {
              "data": [
                {
                  "seller": {
                    "uid": "3314305",
                    "nickname": "3314305_user_test",
                    "avatar": "profile_1092884_1448602368.jpg"
                  },
                  "product": {
                    "id": "4991",
                    "image": "[\"mobile-3953433-07.01.15-15-45-32-0-960x720.jpg\",\"mobile-3953433-07.01.15-15-21-51-0-720x960.jpg\",\"mobile-3953433-05.01.15-14-14-37-0-960x1280.jpg\"]",
                    "title": "G watch Women's Leather Cross-Body Messenger Bag Nightingale",
                    "brand_name": "BVLGARI",
                    "likes_count": "3",
                    "comments_count": "5",
                    "liked": "1",
                    "commented": "0",
                    "currency_code": "SGD",
                    "description": "just a test item",
                    "status": "open",
                    "selling_price": "500",
                    "country_code": "SG",
                    "created_at": "1448260129",
                    "updated_at": "1448260129"
                  }
                },
                {
                  "seller": {
                    "uid": "3314305",
                    "nickname": "3314305_user_test",
                    "avatar": "profile_4434541_1433823320.jpg"
                  },
                  "product": {
                    "id": "5028",
                    "image": "[\"mobile-3953433-12.01.15-15-12-38-0-540x960.jpg\"]",
                    "title": "Vita Women's Leather Cross-Body Messenger Bag Nightingale",
                    "brand_name": "BELL & ROSS",
                    "likes_count": "15",
                    "comments_count": "20",
                    "liked": "1",
                    "commented": "1",
                    "currency_code": "SGD",
                    "description": "vita",
                    "status": "open",
                    "selling_price": "4000",
                    "country_code": "SG",
                    "created_at": "1448260129",
                    "updated_at": "1448260129"
                  }
                },
                {
                  "seller": {
                    "uid": "3314305",
                    "nickname": "3314305_user_test",
                    "avatar": "profile_3500811_1443496941.jpg"
                  },
                  "product": {
                    "id": "211",
                    "image": "[\"mobile-4021459-12.01.15-04-43-37-0-720x1080.jpg\"]",
                    "title": "iPhone testing 2 seller deletes",
                    "brand_name": "FENDI",
                    "likes_count": "0",
                    "comments_count": "0",
                    "liked": "0",
                    "commented": "0",
                    "currency_code": "SGD",
                    "description": "iPhone testing 2 seller deletes listing",
                    "status": "close",
                    "selling_price": "567",
                    "country_code": "SG",
                    "created_at": "1448260129",
                    "updated_at": "1448260129"
                  }
                },
                {
                  "seller": {
                    "uid": "1654128",
                    "nickname": "Herman_1654128",
                    "avatar": "profile_3500811_1443496941.jpg"
                  },
                  "product": {
                    "id": "249",
                    "image": "[\"mobile-147871-13.01.15-17-39-27-0-720x1280.jpg\"]",
                    "title": "Pen Women's Leather Cross-Body",
                    "brand_name": "AURELIE BIDERMANN",
                    "likes_count": "70",
                    "comments_count": "50",
                    "liked": "1",
                    "commented": "1",
                    "currency_code": "SGD",
                    "description": "Just pen",
                    "status": "sold",
                    "selling_price": "5000",
                    "country_code": "SG",
                    "created_at": "1448260129",
                    "updated_at": "1448260129"
                  }
                },
                {
                  "seller": {
                    "uid": "3314305",
                    "nickname": "3314305_user_test",
                    "avatar": "profile_4434541_1433823320.jpg"
                  },
[...]
